body {
  font-family: "Indie Flower", cursive !important;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.buscador {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  margin: 2rem auto;
}

.buscador input,
.buscador select,
.buscador button {
  height: 50px;
  margin: 10px 2px;
  font-size: 1.3rem;
}

.buscador input {
  width: 50%;
}

table {
  width: 80%;
  margin: 3rem auto;
  font-size: 2rem;
}

table img {
  width: 100px;
}

table th {
  text-align: center;
  border: 1px solid #000000;
}

table td {
  text-align: center;
  border: 1px solid #000000;
}

table thead {
  width: 100%;
}

.acciones {
  display: flex;
  justify-content: center;
  align-items: center;
}

.acciones * {
  margin: 0 2px;
}

a {
  text-decoration: none !important;
}

.agregar {
  width: 50%;
  margin: 1rem auto;
  text-align: center;
  font-size: 1.5rem;
}

.form-agregar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form-agregar form {
  width: 30%;
  margin-top: 20px;
}

.form-agregar input,
.form-agregar select,
.form-agregar textarea,
.form-agregar button {
  width: 100%;
}

.form-agregar a {
  width: 30%;
}

.eliminar-imagen {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.eliminar-imagen label {
  margin-left: 5px;
}

@media screen and (max-width: 800px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  .ingreso {
    width: 100%;
  }

  nav form {
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }

  nav form input {
    margin-bottom: 10px;
  }

  .d-inline-block.logueado {
    text-align: center !important;
  }

  .buscador {
    width: 90%;
    margin: 1rem auto;
  }

  .buscador form {
    width: 100%;
  }

  .buscador input,
  .buscador select,
  .buscador button {
    width: 100%;
    margin-bottom: 10px;
    font-size: 0.95rem;
  }

  table {
    width: 80%;
    margin: 3rem auto;
    font-size: 1rem;
  }

  table img {
    width: 50px;
  }

  .acciones {
    flex-direction: column;
  }

  .acciones button {
    width: 100px;
  }

  .form-agregar form {
    width: 50%;
  }

  .form-agregar input,
  .form-agregar select,
  .form-agregar textarea,
  .form-agregar button {
    width: 100%;
  }

  .form-agregar a {
    width: 50%;
  }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
  .buscador input,
  .buscador select,
  .buscador button {
    font-size: 1rem;
  }
}
